
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
			<h1>Home</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
    {{#if authorised}}
			<p><a href="/secure">Secure page</a></p>
		{{/if}}
		<table>
      <p>This is the home page. Everyone can see this.</p>
      <tr><th>Photo</th><th>Title</th><th>Description</th><th>Date</th></tr>
        {{#each records}}
        <tr>
          <td><img src = "public/avatars/{{this.photo}}" /></td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.date}}</td>
        </tr>
        {{/each}}
      </table>
	</main>
	</body>
</html>
